Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]

[External][stdlib] fix "write your first Mojo program" link (#37967)
  README.md
Due: none

[Stdlib] Add a _macos_version helper function (#37882)
  stdlib/src/sys/info.mojo
  stdlib/test/sys/test_macos_target.mojo
Due: mojo-format, check-license

[External][stdlib] Check compiler versions before building (#37971)
  stdlib/scripts/build-stdlib.sh
Due: none

[External][stdlib] Fixing a typo in the README.md (#37964)
  README.md
Due: none

[stdlib] feature: Add non-allocating formatting abstraction (#37001)
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/utils/_format.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/test/utils/test_format.mojo
  stdlib/test/utils/test_format_to_stdout.mojo
Due: mojo-format, check-license

[mojo-stdlib] Add `whence` to arguments in `file.seek()` (#37435)
  docs/changelog.md
  stdlib/src/builtin/file.mojo
  stdlib/src/os/__init__.mojo
  stdlib/src/os/os.mojo
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[mojo-docs] remove bug from changelog. (#37802)
  docs/changelog.md
Due: none

[Stdlib] Make DLHandle boolable (#37935)
  stdlib/src/sys/ffi.mojo
  stdlib/test/sys/test_dlhandle.mojo
Due: mojo-format, check-license

[mojo-lang] Support declaring functions with both optional and variadic arguments (#37819)
  docs/changelog.md
Due: none

[External][stdlib] export InlinedFixedVector from collections (#37968)
  stdlib/src/collections/__init__.mojo
Due: mojo-format, check-license

[******][macOS] Add initial cblas accelerate bindings (#37897)
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[mojo-stdlib] Add file read method that reads data into `DTypePointer` (#37441)
  docs/changelog.md
  stdlib/src/builtin/file.mojo
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[External][stdlib] Fix small typo time.mojo (#2067) (#37969)
  stdlib/src/time/time.mojo
Due: mojo-format, check-license

[docs] Explain implicit convertion via value decorator (#37430)
  docs/manual/lifecycle/life.ipynb
Due: none

[mojo-docs] Remove some sharp edges from roadmap. (#37803)
  docs/roadmap.md
Due: none

[mojo-stdlib] Remove redundant Int constructor. (#37725)
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

[docs] Update FAQ about Mojo Playground (#36852)
  docs/faq.md
Due: none

[******] Mark some of the llvm_intrnsics as non side-effecting, NFC (#37828)
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/sys/intrinsics.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[External][tools] Add a `pre-commit` for `mojo format` and license check (#2193) (#38054)
  stdlib/docs/development.md
  stdlib/docs/style-guide.md
  stdlib/scripts/check-licenses.mojo
  stdlib/test/test_utils/__init__.mojo
  stdlib/test/test_utils/test_utils.mojo
  stdlib/test/test_utils/types.mojo
Due: mojo-format, check-license

[External][mojo-stdlib] Make assert_equal more generic by using traits (#2150) (#38036)
  stdlib/src/testing/testing.mojo
  stdlib/test/testing/test_assertion.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck in `test_intrinsics.mojo` (#2285) (#38064)
  stdlib/test/sys/test_intrinsics.mojo
Due: mojo-format, check-license

[External][mojo-stdlib] Fix `len` for unary `range` with negative `end` value (#2204) (#38070)
  stdlib/src/builtin/range.mojo
  stdlib/test/builtin/test_range.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck in `test_build_info_debug.mojo` (#2291) (#38065)
  stdlib/test/sys/test_build_info_debug.mojo
Due: mojo-format, check-license

[External][mojo-stdlib] feature: Resize List smaller with single arg (#2140) (#38038)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck in `test_bitcast.mojo` (#2296) (#38066)
  stdlib/test/memory/test_bitcast.mojo
Due: mojo-format, check-license

[External][mojo-stdlib] Fix example in docstring for `Optional` (#2176) (#38029)
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[External][Scripts] Add override for compiler version checking (#2195) (#38031)
  stdlib/scripts/build-stdlib.sh
Due: none

[External][mojo-stdlib] Replace register_passable __init__ -> Self usages in stdlib/src/collections (#2089) (#38023)
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[External][stdlib] Replace every instance of foo.str() with str(foo) (#37966)
  docs/manual/values/ownership.ipynb
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/pathlib/path.mojo
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_to_mojo.mojo
Due: mojo-format, check-license

[External][docs] Fix minor typos in API doc strings (#2079) (#38026)
  stdlib/src/pathlib/path.mojo
  stdlib/src/random/random.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck from `test_windows_target.mojo` (#2300) (#38061)
  stdlib/test/sys/test_windows_target.mojo
Due: mojo-format, check-license

[External][stdlib] Handle whitespaces in `atol` (#2225) (#38042)
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[External][stdlib] Fix typos in docstring for `FloatLiteral` (#2202) (#38045)
  stdlib/src/builtin/float_literal.mojo
Due: mojo-format, check-license

[Stdlib] Fix the SIMD.deinterleave function for size 2 (#38104)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External][stdlib] Resolve `../..` in `build-stdlib.sh` (#2180) (#38028)
  stdlib/scripts/build-stdlib.sh
Due: none

[External][mojo-stdlib] Include width and alignment constraint checks for pointer store and load (#2156) (#38032)
  stdlib/src/memory/unsafe.mojo
Due: mojo-format, check-license

[External][stdlib] Add the `gather` and `scatter` methods to `DTypePointer` (#2268) (#38068)
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/intrinsics.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[External][Utils] Remove doc string scripts (#2118) (#38019)
  stdlib/scripts/check-doc-strings.sh
  stdlib/scripts/check-file-is-empty.py
Due: check-license

[External][stdlib] Allow `is None` and `is not None` with `OptionalReg` (#2163) (#38044)
  stdlib/src/collections/optional.mojo
  stdlib/test/collections/test_optional.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck in `test_has_intel_amx.mojo` (#2288) (#38067)
  stdlib/test/sys/test_has_intel_amx.mojo
Due: mojo-format, check-license
