Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

[GPU] Force scalar loads for 1-byte types (#38430)
  stdlib/src/memory/unsafe.mojo
Due: mojo-format, check-license

[External][stdlib] Use `UnsafePointer` instead of `Pointer` in `io.mojo` (#2368) (#38377)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[External][stdlib] Implement `List.__str__()` (#2323) (#38369)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External][stdlib] Use `UnsafePointer` in the `String` struct (#2370) (#38378)
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[External][stdlib] Remove some usage of `LegacyPointer` in tests and StringRef (#2371) (#38379)
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/memory/test_arc.mojo
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_object.mojo
  stdlib/test/sys/test_windows_target.mojo
Due: mojo-format, check-license

[Docs] Add quick links header to the Mojo README.md (#38454)
  README.md
Due: none

[mojo-stdlib] Fix a subtle bug in `Dict.__reversed__` (#38510)
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

[stdlib] Support testing on `main` branch
  stdlib/COMPATIBLE_COMPILER_VERSION
  stdlib/test/lit.cfg.py
Due: check-license

[docs] Add PR links to every Mojo open source changelog entry (#38660)
  docs/changelog.md
Due: none

[Docs] Update text to match updated example. (#38701) (cherry-pick from main) (#38844)
  docs/manual/lifecycle/death.ipynb
Due: none

[mojo-lang][KGEN] Allow specifying mlir properties and add `kgen.source_loc` op (#38415)
  docs/changelog.md
Due: none

[Docs] Update Mojo changelog for 24.3 (cherry-pick from main) (#39109)
  docs/changelog-released.md
  docs/changelog.md
Due: none

[mojo-lang][mojo-stdlib] Remove the old implementation of `__source_location()` (#38444)
  docs/changelog.md
  stdlib/src/builtin/_location.mojo
  stdlib/test/builtin/test_location.mojo
  stdlib/test/os/path/test_exists.mojo
  stdlib/test/os/path/test_isdir.mojo
  stdlib/test/os/path/test_isfile.mojo
  stdlib/test/os/test_stat.mojo
  stdlib/test/pathlib/test_pathlib.mojo
Due: mojo-format, check-license

[mojo-stdlib] Generialize `debug_assert` to take `Stringable` (#38540)
  stdlib/src/builtin/debug_assert.mojo
  stdlib/test/builtin/test_debug_assert.mojo
  stdlib/test/builtin/test_debug_assert_error.mojo
  stdlib/test/builtin/test_debug_assert_mojo_enable_assertions.mojo
  stdlib/test/builtin/test_debug_assert_warning.mojo
Due: mojo-format, check-license

[Docs] New Mojo Types doc. (#38241) (cherry-pick from main) (#38839)
  docs/manual/types.ipynb
Due: none

Separate KW only and variadic arguments in assert_true/assert_false/...
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

[mojo-stdlib] Enhance `debug_assert` message with location info (#38623)
  docs/changelog.md
  stdlib/src/builtin/_location.mojo
  stdlib/src/builtin/debug_assert.mojo
  stdlib/test/builtin/test_debug_assert_warning.mojo
Due: mojo-format, check-license

[mojo-stdlib] Add new source and call location accessors (#38439)
  stdlib/src/builtin/_location.mojo
  stdlib/test/builtin/test_location.mojo
Due: mojo-format, check-license

[Docs] Remove note about Atomic from 24.3 changelog. (cherry-pick from main) (#39158)
  docs/changelog-released.md
Due: none

[mojo-stdlib] Enhance `testing.assert_*` with location info in their messages (#38653)
  docs/changelog.md
  stdlib/src/testing/testing.mojo
  stdlib/test/testing/test_assertion.mojo
Due: mojo-format, check-license

[docs] misc cherrypicks (#39083)
  docs/faq.md
  docs/manual/get-started/index.md
Due: none

[docs] Update docs about telemetry for 24.3 (#38356) (#39002)
  docs/faq.md
Due: none

[Docs] Add docs on heterogenous variadic arguments. (#38614) (cherry-pick from main) (#38841)
  docs/manual/functions.ipynb
  docs/manual/parameters/index.ipynb
Due: none

[docs] Add 'Fixes #xyz' to changelog entries that fix feature requests (#38676)
  docs/changelog.md
Due: none

[External] [stdlib] Fix dict probing error (#38545)
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[mojo-stdlib] Make `Bool` implicitly convertible from `Boolable` (#38556)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/debug_assert.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/testing/testing.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[******] consolidate accum_type logic to helper methods (#38514)
  stdlib/src/builtin/dtype.mojo
  stdlib/src/utils/_numerics.mojo
Due: mojo-format, check-license

sign off commit
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

Change call sites of assert true with message keyword argument
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/os/test_remove.mojo
  stdlib/test/pathlib/test_pathlib.mojo
Due: mojo-format, check-license

Fix email sign off for PR
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

Add keyword msg to call sites for assert_false
  stdlib/test/os/test_remove.mojo
Due: mojo-format, check-license

Add keyword msg to call sites in assert true and false
  stdlib/test/os/test_remove.mojo
  stdlib/test/utils/test_inlined_string.mojo
Due: mojo-format, check-license

Fix email address in sign off for PR
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

Add keyword argument msg in test_remove
  stdlib/test/os/test_remove.mojo
Due: mojo-format, check-license

Fix sign off in commit message
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

add in-place bitwise operations for Bool
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[stdlib] Support for negative indexes in `List._reverse(start)` method
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[KGEN] Move the `pop.coroutine.*` ops to the `co` dialect (NFC) (#39182)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[External] [docs] fix typos in roadmap.md (#39231)
  docs/roadmap.md
Due: none

[External] [stdlib] Fix accidental use of `assert_true` in tests (#39229)
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
