Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

[stdlib] Support testing on `main` branch
  stdlib/COMPATIBLE_COMPILER_VERSION
  stdlib/test/lit.cfg.py
Due: check-license

[Docs] New Mojo Types doc. (#38241) (cherry-pick from main) (#38839)
  docs/manual/types.ipynb
Due: none

[docs] misc cherrypicks (#39083)
  docs/faq.md
  docs/manual/get-started/index.md
Due: none

[Docs] Remove note about Atomic from 24.3 changelog. (cherry-pick from main) (#39158)
  docs/changelog-released.md
Due: none

[Docs] Update text to match updated example. (#38701) (cherry-pick from main) (#38844)
  docs/manual/lifecycle/death.ipynb
Due: none

[Docs] Add docs on heterogenous variadic arguments. (#38614) (cherry-pick from main) (#38841)
  docs/manual/functions.ipynb
  docs/manual/parameters/index.ipynb
Due: none

[Docs] Update Mojo changelog for 24.3 (cherry-pick from main) (#39109)
  docs/changelog-released.md
  docs/changelog.md
Due: none

[docs] Update docs about telemetry for 24.3 (#38356) (#39002)
  docs/faq.md
Due: none

Update changelog-released.md
  docs/changelog-released.md
Due: none

[stdlib] Fix tests
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[External] [stdlib] Removed FileCheck from the dev guide (#38904)
  stdlib/docs/development.md
Due: none

[stdlib] Narrow disabling of test in `test_string.mojo` (#38209)
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Implement generic `floor` method in `math` (#38777)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/time/time.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Implement generic `ceil` method in `math` (#38807)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow `String()` to be created from `UInt8` ptr and list too (#38859)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[mojo-stdlib] Fix aarch64 config (#38980)
  stdlib/test/sys/lit.local.cfg
Due: none

[stdlib] Make `min` and `max` built-ins (#38901)
  examples/notebooks/RayTracing.ipynb
  stdlib/src/builtin/math.mojo
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license

[stdlib] Use built-in `max` and `min` functions (#38902)
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/utils/_serialize.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[docs] Update docs about telemetry for 24.3 (#38356)
  docs/faq.md
Due: none

[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal` (#38991)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[External] [stdlib] SIMD.shuffle with StaticIntTuple mask (#38832)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `repr()` function and `Representable` trait (#38803)
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/repr.mojo
  stdlib/src/builtin/str.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_repr.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[Docs] Update release changelog for 24.3. (#38900)
  docs/changelog-released.md
  docs/changelog.md
Due: none

[break-glass] Revert "[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal`" (#39024)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Add `List.count(value)` method (#38915)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[docs] Add post-process to strip docs domain name from built docs (#39053)
  docs/manual/parameters/index.ipynb
Due: none

[mojo-lsp] Add support for traits in DocumentSymbols (#38988)
  docs/changelog.md
Due: none

[******][mojo-stdlib] Move `clamp` from `math` to `simd` (#38932)
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Implement `FloatLiteral.__floordiv__` (#39061)
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Remove `math.round_half{up,down}` (#38936)
  docs/changelog.md
Due: none

[mojo-stdlib][Docs] Update changelog with `FloatLiteral.__floordiv__` fix (#39065)
  docs/changelog.md
Due: none

[docs] Mention `min` and `max` built-in in changelog (#39030)
  docs/changelog.md
Due: none

[External] [stdlib] Allow `StringRef` to work with both Int8 and UInt8 (#38989)
  stdlib/src/os/env.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Move binary elementwise wrappers out of `math` (#38943)
  docs/changelog.md
Due: none

[docs] Add recent OSS contributions to changelog (#39064)
  docs/changelog.md
Due: none

[stdlib] Use built-in `abs` function (#38903)
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

Internal commit
  stdlib/src/time/time.mojo
Due: mojo-format, check-license

[docs] Mojo 24.3 changelog edits (#39106)
  docs/changelog-released.md
Due: none

[******] Use reversed(range(...)) to visit range in reverse, NFC (#39115)
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[mojo-stdlib] Abort when using Python interop without `MOJO_PYTHON_LIBRARY` set (#39130)
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
