Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

[mojo-lang] Expand `VariadicPack` to take parametric trait base (#36319)
  stdlib/src/builtin/builtin_list.mojo
Due: mojo-format, check-license

[Docs] Fix changelog formatting. Fixes #36539 (#36634)
  docs/changelog-released.md
Due: none

[External][stdlib] Add `__rmod__` for SIMD types (#2186) (#38049)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] feature: Add `Reference._unsafe_from_pointer` to wrap `lit.ref.from_pointer` (#38127)
  stdlib/src/collections/list.mojo
  stdlib/src/memory/_arc.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External][stdlib] Check compiler versions before building (#37971)
  stdlib/scripts/build-stdlib.sh
Due: none

[stdlib] Replace most uses of `__get_lvalue_as_address` with `Reference` (#2035) (#36428)
  stdlib/src/builtin/object.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[mojo-docs] Remove some sharp edges from roadmap. (#37803)
  docs/roadmap.md
Due: none

[mojo-stdlib] Further tidy bitcast, remove `pop.pointer.addrspacecast` (#37646)
  stdlib/src/collections/dict.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
Due: mojo-format, check-license

[Stdlib] Add an equal_nan flag to isclose functions (#37392)
  docs/changelog.md
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

[External][mojo-stdlib] Implement `bool` function for `None` (#2249) (#38057)
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[stdlib] Migrating Pointer to UnsafePointer - 3/n (#37654)
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] hotfix: Update uses of `.get` method renamed in #38269 (#38312)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[External][Doc] Fix contribution and vision doc issues (#2382) (#38380)
  CONTRIBUTING.md
  stdlib/docs/vision.md
Due: none

[mojo-stdlib] Improvements to `Reference` related things. (#37028)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/src/memory/anypointer.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Avoid `import *` in tests (#36678)
  examples/deviceinfo.mojo
  stdlib/test/builtin/test_bfloat16.mojo
  stdlib/test/builtin/test_dtype.mojo
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_issue_1505.mojo
  stdlib/test/builtin/test_location.mojo
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/builtin/test_str.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
  stdlib/test/builtin/test_stringref.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_list.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/collections/test_set.mojo
  stdlib/test/collections/test_vector.mojo
  stdlib/test/memory/test_anypointer.mojo
  stdlib/test/memory/test_arc.mojo
  stdlib/test/os/path/test_exists.mojo
  stdlib/test/os/path/test_isdir.mojo
  stdlib/test/os/path/test_isfile.mojo
  stdlib/test/os/path/test_islink.mojo
  stdlib/test/os/test_listdir.mojo
  stdlib/test/os/test_stat.mojo
  stdlib/test/pathlib/test_pathlib.mojo
  stdlib/test/test_utils/__init__.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[External][Examples] Fix typo in Mandelbrot example notebook (#2227) (#38050)
  examples/notebooks/Mandelbrot.ipynb
Due: none

[docs] Add changelog entry for `String.remove(prefix|suffix)` (#38213)
  docs/changelog.md
Due: none

[mojo-lang][mojo-stdlib] Use `OwnedKwargsDict` for emitting variadic keyword arguments (#36540)
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

[Stdlib] Add a _macos_version helper function (#37882)
  stdlib/src/sys/info.mojo
  stdlib/test/sys/test_macos_target.mojo
Due: mojo-format, check-license

[External][stdlib] Remove FileCheck in `test_aarch64_target.mojo` (#2290) (#38189)
  stdlib/test/sys/test_aarch64_target.mojo
Due: mojo-format, check-license

[Stdlib] Add more overloads for the external call operations (#37896)
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[External][Utils] Remove doc string scripts (#2118) (#38019)
  stdlib/scripts/check-doc-strings.sh
  stdlib/scripts/check-file-is-empty.py
Due: check-license

[mojo-stdlib] Add new source and call location accessors (#38439)
  stdlib/src/builtin/_location.mojo
  stdlib/test/builtin/test_location.mojo
Due: mojo-format, check-license

[mojo-stdlib] Various pointer cleanups, remove `_LITRef`. (#37642)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/tuple.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/set.mojo
  stdlib/src/memory/_arc.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[mojo-stdlib] Rewrite ListLiteral to wrap `Tuple` (#37681)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/tuple.mojo
  stdlib/src/python/object.mojo
Due: mojo-format, check-license

[Docs] Add section on implicit trait conformance. (#36050)
  docs/manual/traits.ipynb
Due: none

[mojo-lang] Teach parameter inference about non-materializables (#38292)
  examples/notebooks/RayTracing.ipynb
Due: none

[External][stdlib] Add `List` constructor from (ptr, size, capacity) parts (#2182) (#38048)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External][stdlib] Add checked arithmetic operations (#2138) (#38206)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove some old code from Tuple, NFC (#38267)
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[External][stdlib] Removed FileCheck in `test_linux_target.mojo` (#2286) (#38173)
  stdlib/test/sys/test_linux_target.mojo
Due: mojo-format, check-license

[docs] Add changelog entry for named `Set` methods (#38231)
  docs/changelog.md
Due: none

[docs] Update docs about telemetry for 24.3 (#38356) (#39002)
  docs/faq.md
Due: none

[Docs] New Mojo Types doc. (#38241) (cherry-pick from main) (#38839)
  docs/manual/types.ipynb
Due: none

[Docs] Add docs on heterogenous variadic arguments. (#38614) (cherry-pick from main) (#38841)
  docs/manual/functions.ipynb
  docs/manual/parameters/index.ipynb
Due: none

[Docs] Update text to match updated example. (#38701) (cherry-pick from main) (#38844)
  docs/manual/lifecycle/death.ipynb
Due: none

[docs] misc cherrypicks (#39083)
  docs/faq.md
  docs/manual/get-started/index.md
Due: none

[Docs] Update Mojo changelog for 24.3 (cherry-pick from main) (#39109)
  docs/changelog-released.md
  docs/changelog.md
Due: none

[Docs] Remove note about Atomic from 24.3 changelog. (cherry-pick from main) (#39158)
  docs/changelog-released.md
Due: none

[stdlib] Support testing on `main` branch
  stdlib/COMPATIBLE_COMPILER_VERSION
  stdlib/test/lit.cfg.py
Due: check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
