Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]

[KGEN] Move the `pop.coroutine.*` ops to the `co` dialect (NFC) (#39182)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[docs] Modernize Ray tracing notebook with UnsafePointer. (#39219)
  examples/notebooks/RayTracing.ipynb
Due: none

[stdlib] Support for the number of digits to round to in the FloatLiteral.__round__() method
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[stdlib] Implement FloatLiteral.__mod__() method
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[External] [docs] fix typos in roadmap.md (#39231)
  docs/roadmap.md
Due: none

[External] [stdlib] Fix accidental use of `assert_true` in tests (#39229)
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[mojo-stdlib] Keep moving more stuff out from `-> Self` (#39217)
  docs/manual/decorators/nonmaterializable.ipynb
  docs/manual/parameters/index.ipynb
  examples/notebooks/BoolMLIR.ipynb
  examples/notebooks/RayTracing.ipynb
  examples/notebooks/programming-manual.ipynb
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move reference.mojo off deprecated `-> Self` init syntax. (#39237)
  stdlib/src/memory/reference.mojo
Due: mojo-format, check-license

[tools] Add a docstring check to the pre-commit
  .pre-commit-config.yaml
Due: none

[stdlib] Bump compiler version to 2024.5.323
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Complete most of the remaining methods of `Set` (#38990)
  stdlib/src/collections/set.mojo
  stdlib/test/collections/test_set.mojo
Due: mojo-format, check-license

[mojo-tool] Support `mojo package -o dir/` (#39213)
  docs/changelog.md
Due: none

[External] [docs] Add `fish` version of the set-up command (#39266)
  docs/manual/get-started/index.md
Due: none

[External] [stdlib] Remove unnecessary arguments and overloads in print() (#39173)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[External] [tools] Add a docstring check to the pre-commit (v2) (#39249)
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

dict pop item
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

format
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

fix changelog
  docs/changelog.md
Due: none

fix debug msg
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

revert comment
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

added unreachable
  stdlib/src/builtin/constrained.mojo
Due: mojo-format, check-license

formatting
  stdlib/src/builtin/constrained.mojo
Due: mojo-format, check-license

Add `unreachable` to be used in place of `contrained[False]`
  stdlib/src/builtin/constrained.mojo
Due: mojo-format, check-license

Add `unreachable` check instead of `constrained[False]`
  stdlib/src/builtin/constrained.mojo
Due: mojo-format, check-license

Basic how-to for using tests for TDD
  docs/manual/index.md
  docs/tools/testing.ipynb
Due: none

[stdlib] `strip`, `lstrip` and `rstrip` now can remove custom chars
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

[stdlib] usefull string aliases was added (eg. `String.ASCII_LOWERCASE`)
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] `strip`, `lstrip` and `rstrip` now can remove custom chars
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] changing strip chars default from hardcoded string to string alias `String.WHITESPACE`
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

Add the DivModable trait
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license

Add the CollectionElement trait
  stdlib/src/builtin/divmod.mojo
Due: mojo-format, check-license

fixing accidental function renaming
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Migrating atomic.mojo Pointer -> UnsafePointer (#39244)
  proposals/README.md
  proposals/byte-as-uint8.md
  proposals/inferred-parameters.md
  proposals/lifetimes-and-provenance.md
  proposals/lifetimes-keyword-renaming.md
  proposals/mojo-and-dynamism.md
  proposals/project-manifest-and-build-tool.md
  proposals/remove-let-decls.md
  proposals/value-ownership.md
  stdlib/src/os/atomic.mojo
Due: mojo-format, check-license

[stdlib] reference.mojo renaming Pointer -> LegacyPointer NFC (#39245)
  stdlib/src/memory/reference.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `math.div_ceil` in favor of `math.ceildiv` (#39273)
  docs/changelog.md
  stdlib/src/builtin/io.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Combine device_print.mojo with stdlib _printf (#39292)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[mojo-stdlib] Make `ceildiv` generic (#39279)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/index.mojo
Due: mojo-format, check-license
