Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]

[mojo-stdlib] Keep moving more stuff out from `-> Self` (#39217)
  docs/manual/decorators/nonmaterializable.ipynb
  docs/manual/parameters/index.ipynb
  examples/notebooks/BoolMLIR.ipynb
  examples/notebooks/RayTracing.ipynb
  examples/notebooks/programming-manual.ipynb
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license

[docs] Modernize Ray tracing notebook with UnsafePointer. (#39219)
  examples/notebooks/RayTracing.ipynb
Due: none

[mojo-stdlib] Move reference.mojo off deprecated `-> Self` init syntax. (#39237)
  stdlib/src/memory/reference.mojo
Due: mojo-format, check-license

[External] [stdlib] Complete most of the remaining methods of `Set` (#38990)
  stdlib/src/collections/set.mojo
  stdlib/test/collections/test_set.mojo
Due: mojo-format, check-license

[External] [tools] Add a docstring check to the pre-commit (v2) (#39249)
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

[mojo-tool] Support `mojo package -o dir/` (#39213)
  docs/changelog.md
Due: none

[External] [docs] Add `fish` version of the set-up command (#39266)
  docs/manual/get-started/index.md
Due: none

[External] [stdlib] Remove unnecessary arguments and overloads in print() (#39173)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.323
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Check out-of-bound indexes in the `List._reverse()` method
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix accidental use of `assert_true` in tests (#39229)
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[KGEN] Move the `pop.coroutine.*` ops to the `co` dialect (NFC) (#39182)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[External] [docs] fix typos in roadmap.md (#39231)
  docs/roadmap.md
Due: none

[tools] Add a docstring check to the pre-commit
  .pre-commit-config.yaml
Due: none

Update stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] Make `DType` and `SIMD` work with `repr()`
  stdlib/src/builtin/dtype.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_dtype.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Switch args for better undestanding of the tests
  stdlib/test/builtin/test_dtype.mojo
Due: mojo-format, check-license

[stdlib] Remove `Bool` constructor from `SIMD`
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

Add the `inf` function to `utils._numerics`
  stdlib/src/utils/_numerics.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

Add compile-time architecture support check for `bf16` in `test_inf` function
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

Add architecture support check for `bf16` in `test_inf` function
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

Correctly handle infinity (and NaN) in `assert_almost_equal`
  stdlib/src/testing/testing.mojo
  stdlib/test/testing/test_assertion.mojo
Due: mojo-format, check-license

resolve conflict
  stdlib/src/builtin/object.mojo
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

generic bitwise function
  stdlib/src/builtin/object.mojo
Due: mojo-format, check-license

[stdlib] first implementaion of NamedtemporaryFile
  stdlib/src/tempfile/__init__.mojo
  stdlib/src/tempfile/tempfile.mojo
  stdlib/test/tempfile/test_tempfile.mojo
Due: mojo-format, check-license

[stdlib] implement TemporaryDirectory
  stdlib/src/tempfile/__init__.mojo
  stdlib/src/tempfile/tempfile.mojo
  stdlib/test/tempfile/test_tempdir.mojo
  stdlib/test/tempfile/test_tempfile.mojo
Due: mojo-format, check-license

[tools] fix check-licenses pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: ListLiteral initializer for List
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/utils/variadics.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Update types.ipynb
  docs/manual/types.ipynb
Due: none

add simd Mask alias
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license
